
@{
    Layout = null;
    int counter = 1;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Partial("_CommonLinks")
    <link rel="stylesheet" href="~/Static/css/dashboard.css" />
    <link rel="stylesheet" href="~/Static/css/apexcharts.css" />
    <style>
        .new-exam-btn {
            color: black;
            text-decoration: none;
        }
    </style>
    <title>Dashboard</title>
</head>
<body>

    <div>
        @Html.Partial("_NavbarAfterLogin")
        <!-- dashboard quiz start -->
        <section class="container mt-5">
            <span class="d-flex justify-content-between">
                <h4 style="font-size: 30px;font-weight: 700;">Dashboard</h4>
                <button class="bg-warning add-exam-btn text-dark fw-bold">
                    <a href="~/Exam/Mock" class="new-exam-btn"><i class="fas fa-plus"></i> New Exam <i class="fas fa-arrow-right"></i></a>
                </button>
            </span>

        </section>
        <!-- dashboard quiz End -->
        <!-- leader board start -->
        <div class=" container mb-4 p-4 leaderboard">

            <div class="row d-flex justify-content-between">
                <div class="col-md-12 box-shadow p-4 rounded mx-auto">

                    <div class="row">
                        <h3 style="font-size: 18px;font-weight: 700; text-align: center;">Accuracy</h3>
                        <div class="col-md-4 col-sm-2 "></div>
                        <div class="col-md-4 col-sm-8 d-flex justify-content-center">
                            <div id="chart"></div>
                        </div>
                        <div class="col-md-4 col-sm-2 "></div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-12 mt-3  pt-4  rounded mobile-view p-3">
                                <div class="div">
                                    <h4 class="p-4 text-center" style="font-size: 18px;font-weight: 700;">Weekly Leaderboard</h4>

                                </div>

                                <table class="table table-dark mt-2">
                                    <thead>
                                        <tr>
                                            <th scope="col">নং</th>
                                            <th scope="col">নাম</th>
                                            <th scope="col">মার্কস</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.rankingList)
                                        {
                                            <tr>
                                                <th scope="row">@counter</th>
                                                <td>@item.studentName</td>
                                                <td>@item.totalPoint</td>
                                            </tr>
                                            counter++;
                                        }
                                    </tbody>

                                </table>
                                <span class="d-flex justify-content-center p-3">
                                    <a href="~/User/Leaderboard"> <button class="btn btn-warning fw-bold" style="border: none;">See All <i class="fas fa-arrow-right"></i></button></a>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    @Html.Partial("_Footer")
    </div>

    <script src="~/Static/dist/apexcharts.min.js"></script>
    <script src="~/Static/js/bootstrap.js"></script>
    <script>
        var total_correct_ans = parseInt("@ViewBag.totalCorrectAns")
        var total_wrong_ans = parseInt("@ViewBag.totalWrongAns")
        var total_skipped_ans = parseInt("@ViewBag.totalSkippedAns")
        var options = {
            series: [total_wrong_ans, total_correct_ans, total_skipped_ans],
            labels: ["Wrong", "Correct", "Skipped"],
            markers: {
                colors: ["#dddd", "#E91E63", "#9C27B0"],
            },
            chart: {
                type: "pie",
            },
            responsive: [
                {
                    breakpoint: 480,
                    options: {
                        chart: {
                            width: 300,
                        },
                        legend: {
                            position: "bottom",
                        },
                    },
                },
            ],
            legend: {
                position: "bottom",
                offsetX: -40,
            },
            dataLabels: {
                enabled: true,
            },
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>

</body>
</html>
