
@model List<UTestProject.Models.Category>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" lang="bn">
<head>
    @Html.Partial("_CommonLinks")
    <link rel="stylesheet" href="~/Static/css/login.css" />

    <title>Sign Up</title>
</head>
<body>

    <div class="signup-form p-md-4">
        <!-- signup form start  -->
        <div class="signUp-form">
            <h2 class="text-dark text-center mt-2 p-4 fw-bold"><a href="/" style="text-decoration: none;color:#000">U<span class="text-warning">Test</a></span></h2>

            <div class="row">
                <div class="col-md-6 p-3">
                    <img class="img-fluid" src="~/Static/images/signup.svg" />
                </div>
                <div class="col-md-6">
                    @using (Html.BeginForm("SignUp", "User"))
                    {
                        <form class="login p-5">
                            <div class="mb-3">
                                <label for="nameInput" class="form-label">Name</label>
                                <input type="text"
                                       class="form-control"
                                       name="nameInput"
                                       id="nameInput" />
                                <label for="emailInput" class="form-label">Email</label>
                                <input type="text"
                                       class="form-control"
                                       id="emailInput"
                                       name="emailInput" />
                                <label for="passwordInput" class="form-label">Password</label>
                                <input type="password"
                                       class="form-control"
                                       id="passwordInput"
                                       name="passwordInput" />
                            </div>
                            <div class="mb-3">
                                <label for="categoryInput" class="form-label">Category</label>
                                <select class="form-select" id="categoryInput" name="categoryInput" aria-label="Default select example">
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.Title">@item.Title</option>
                                    }

                                </select>
                                <button type="submit" class="btn btn-warning  w-100 mt-3 text-white fw-bold">Sign Up</button>
                                <p class="text-center p-2">OR</p>
                                <button type="button" class="btn btn-lg w-100 btn-block">
                                    <a class="btn btn-outline-dark" href="#" role="button" style="text-transform:none">
                                        <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                                        Sign up with Google
                                    </a>
                                </button>

                                <h6 class="text-center p-2" style="color:#000">Already have an account?<a href="~/User/Login" style="text-decoration: none;"> Login</a></h6>
                        </form>
                    }
                </div>

            </div>
        </div>
        <!-- signup form end  -->

    </div>
    @if (ViewData["MessageText"] != null && @ViewData["MessageType"] != null)
    {
        <script>
        var type = "@ViewData["MessageType"]";
        var message = "@ViewData["MessageText"]";
        toastr.options.timeOut = 2000;
        switch (type) {
            case "info":
                toastr.info(message);
                break;
            case "success":
                toastr.success(message);
                break;
            case "warning":
                toastr.warning(message);
                break;
            case "error":
                toastr.error(message);
                break;
            default:
                toastr.error("An error occurred");
        }
        </script>

    }

</body>
</html>

