
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" lang="bn">
<head>
    @Html.Partial("_CommonLinks")
    <link rel="stylesheet" href="~/Static/css/login.css" />

    <title>Sign Up</title>
</head>
<body>

    <div class="signup-form p-md-4">
        <!-- signup form start  -->
        <div class="signUp-form">
            <h2 class="text-dark text-center mt-2 p-4 fw-bold"><a href="/" style="text-decoration: none;color:#000">U<span class="text-warning">Test</a></span></h2>

            <div class="row">
                <div class="col-md-6 p-3">
                    <img class="img-fluid" src="~/Static/images/signup.svg" />
                </div>
                <div class="col-md-6">
                    @using (Html.BeginForm("SignUp", "User"))
                    {
                        <form class="login p-5">
                            <div class="mb-3">
                                <label for="nameInput" class="form-label">Name</label>
                                <input type="text"
                                       class="form-control"
                                       name="nameInput"
                                       id="nameInput" />
                                <label for="emailInput" class="form-label">Email</label>
                                <input type="text"
                                       class="form-control"
                                       id="emailInput"
                                       name="emailInput" />
                                <label for="passwordInput" class="form-label">Password</label>
                                <input type="password"
                                       class="form-control"
                                       id="passwordInput"
                                       name="passwordInput" />
                            </div>
                            <div class="mb-3">
                                <label for="categoryInput" class="form-label">Category</label>
                                <select class="form-select" id="categoryInput" name="categoryInput" aria-label="Default select example">
                                    @foreach (var item in ViewBag.categories)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }

                                </select>
                            </div>
                            <button type="submit" class="btn btn-warning  w-100 mt-3 text-white fw-bold">Sign Up</button>

                        </form>
                    }
                    <p class="text-center p-2">OR</p>
                    <button type="button" class="btn btn-lg w-100 btn-block" id="googleAuthBtn">
                        <a class="btn btn-outline-dark" href="#" role="button" style="text-transform:none">
                            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                            Sign up with Google
                        </a>
                    </button>

                    <h6 class="text-center p-2" style="color:#000">Already have an account?<a href="~/User/Login" style="text-decoration: none;"> Login</a></h6>
                </div>

            </div>
        </div>
        <!-- signup form end  -->

    </div>
    <form method="POST" id="gooleForm" action="~/User/GoogleAuth" style="display: none">

        <input type="text" id="name" name="name" aria-describedby="nameHelp">

        <input type="text" id="username" name="user_name" aria-describedby="usernameHelp">

        <input type="email" id="email_inp" name="email" aria-describedby="emailHelp">

        <input type="url" id="picture" name="picture" aria-describedby="pictureHelp">

        <input type="text" id="token" name="token" aria-describedby="pictureHelp">

    </form>
    @if (ViewData["MessageText"] != null && @ViewData["MessageType"] != null)
    {
        <script>
        var type = "@ViewData["MessageType"]";
        var message = "@ViewData["MessageText"]";
        toastr.options.timeOut = 2000;
        switch (type) {
            case "info":
                toastr.info(message);
                break;
            case "success":
                toastr.success(message);
                break;
            case "warning":
                toastr.warning(message);
                break;
            case "error":
                toastr.error(message);
                break;
            default:
                toastr.error("An error occurred");
        }
        </script>

    }



    <script src="https://apis.google.com/js/api:client.js"></script>
    <script>

        var googleUser = {};
        var startApp = function () {
            gapi.load('auth2', function () {
                // Retrieve the singleton for the GoogleAuth library and set up the client.
                auth2 = gapi.auth2.init({
                    client_id: '169368408274-fh0e8q3f96f3mmc0821ahhoo9p9f28qj.apps.googleusercontent.com',
                    cookiepolicy: 'single_host_origin',
                    // Request scopes in addition to 'profile' and 'email'
                    scope: 'email'
                });
                attachSignin(document.getElementById('googleAuthBtn'));
            });
        };

        function attachSignin(element) {
            console.log(element.id);
            auth2.attachClickHandler(element, {},
                function (googleUser) {
                    const profile = googleUser.getBasicProfile();

                    console.log('Full Name: ' + profile.getName());
                    console.log('Given Name: ' + profile.getGivenName());
                    console.log('Family Name: ' + profile.getFamilyName());
                    console.log("Image URL: " + profile.getImageUrl());
                    console.log("Email: " + profile.getEmail());



                    var id_token = googleUser.getAuthResponse().id_token;
                    //console.log("ID Token: " + id_token);
                    const inputs = document.querySelector('#gooleForm').children;
                    inputs[0].value = profile.getName();
                    inputs[1].value = profile.getFamilyName();
                    inputs[2].value = profile.getEmail();
                    inputs[3].value = profile.getImageUrl();
                    inputs[4].value = id_token;

                    document.querySelector('#gooleForm').submit();

                }, function (error) {
                    alert(JSON.stringify(error, undefined, 2));
                });
        }

    </script>
    <script>startApp();</script>
</body>
</html>

