@model UTest.Models.User
@{
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/UTest_layout.cshtml";
}

<!DOCTYPE html>
<html lang="en" lang="bn">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/bootstrap.css" />
    <link rel="stylesheet" href="./styles/login.css" />
    <link rel="stylesheet" href="./styles/fontawesome.min.css" />
    <link rel="stylesheet" href="./styles/all.min.css" />
    <!-- google font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <title>Sign Up</title>
</head>
<body>
    <div class="signup-form p-md-4" id="id_1">
        <!-- signup form start  -->
        <div class="signUp-form">

            <h2 class="text-dark text-center mt-2 p-4 fw-bold"><a href="/index.html" style="text-decoration: none;color:#000">U<span class="text-warning">Test</a></span></h2>

            <div class="row">
                <div class="col-md-6 p-3">
                    <img class="img-fluid" src="~/images/signup.svg" />

                </div>
                <div class="col-md-6">
                    <form class="login p-5" method="post">



                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                        </div>






                        <input type="submit" value="Register" name="register">
                        <h6 class="text-center p-2" style="color:#000">Already have an account?<a href="/login.html" style="text-decoration: none;"> Login</a></h6>
                    </form>

                </div>

            </div>
        </div>
        <!-- signup form end  -->

    </div>
</body>
</html>


