
@{
    Layout = null;
    int counter = 1;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Html.Partial("_CommonLinks")
    @Styles.Render("~/css/liveQuiz.css")
    @Styles.Render("~/css/exam.css")
    @Styles.Render("~/css/footer.css")

    <title>MockExam</title>
</head>
<body>
    <section>
        <!-- dashboard Menu start -->
        <section class="dashboard">
            @Html.Partial("_NavbarAfterLogin")

        </section>
        <!-- dashboard Menu End -->

        <div>
            <div class="text-center p-3" style="background: #fefce8">
                <h5>পরীক্ষা</h5>
                <h6>বিষয় সমুহঃ @ViewBag.selectedSubjectsStr </h6>
                <h6>সময়ঃ <b id="countDown">00:00</b> মিনিট</h6>

                @if (ViewBag.negMarking == 1)
                {
                    <h6>
                        প্রতিটি প্রশ্নের পূর্ণমান 1 এবং ভুলপ্রতি 0.25 মার্ক কাটা যাবে
                    </h6>
                }
                else
                {
                    <h6>
                        প্রতিটি প্রশ্নের পূর্ণমান 1
                    </h6>
                }
            </div>
        </div>
        @using (Html.BeginForm("MockExam", "Exam"))
        {
            <form method="POST">
                <input value="@ViewBag.examDuration" hidden name="examDuration">
                <input value="@ViewBag.questionIdListStr" hidden name="questionIdListStr">
                <input value="only_mistakes" hidden name="only_mistakes">
                <input value="@ViewBag.negMarking" hidden name="negMarking">
                <input value="@ViewBag.selectedSubjectsStr" hidden name="selectedSubjectsStr">
                <input value="@ViewBag.category" hidden name="category">
                @foreach (var item in ViewBag.questionList)
                {
                    @*Question starts*@
                    <div class="container info_box p-4">

                        <div class="ques-list">

                            <div class="d-flex justify-content-between">

                                <div class="ques-text">
                                    <h5 class='p-2 ques-text'>
                                        @counter .
                                        <script>document.write("@item.Title")</script>
                                    </h5>
                                </div>

                            </div>
                            <div>
                                <div class="row ques-option mx-auto">
                                    <div class="col-md-5 option m-2">
                                        <h6 class="p-3">
                                            <input class="form-check-input me-2" type="radio" value="@item.Option_a" name="optionRadioBtn_@item.ID" id="@counter-@item.ID-a">
                                            <label class="form-check-label" for="@counter-@item.ID-a">
                                                <script>document.write("@item.Option_a")</script>
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-md-5 option m-2">
                                        <h6 class="p-3">
                                            <input class="form-check-input me-2" type="radio" value="@item.Option_b" name="optionRadioBtn_@item.ID" id="@counter-@item.ID-b">
                                            <label class="form-check-label" for="@counter-@item.ID-b">
                                                <script>document.write("@item.Option_b")</script>
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-md-5 option m-2">
                                        <h6 class="p-3">
                                            <input class="form-check-input me-2" type="radio" value="@item.Option_c" name="optionRadioBtn_@item.ID" id="@counter-@item.ID-c">
                                            <label class="form-check-label" for="@counter-@item.ID-c">
                                                <script>document.write("@item.Option_c")</script>
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-md-5 option m-2">
                                        <h6 class="p-3">
                                            <input class="form-check-input me-2" type="radio" value="@item.Option_d" name="optionRadioBtn_@item.ID" id="@counter-@item.ID-d">
                                            <label class="form-check-label" for="@counter-@item.ID-d">
                                                <script>document.write("@item.Option_d")</script>
                                            </label>
                                        </h6>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    @*Question ends*@
                    counter++;
                }
                <div style="text-align: center;" class="mt-3 pb-3 mb-3">
                    <button type="submit" id="submitBtn" class="btn btn-warning fw-bold">সাবমিট</button>
                </div>
            </form>
        }
    </section>
    <script src="~/Static/js/bootstrap.js"></script>
    <script src="~/Static/js/question.js"></script>
    <script>
        const countDownEl = document.getElementById('countDown');
        const startingMinutes = parseInt("@ViewBag.examDuration");
        console.log(startingMinutes);
        var time = startingMinutes * 60;

        var timer = setInterval(updateCountDown, 1000);


        function updateCountDown() {
            if (time == 0) {
                console.log("Times up.")
                clearInterval(timer);
                toastr.warning("Time's up! Never give up. Better luck next time.");
                document.getElementById("submitBtn").disabled = true;
            }
            var minutes = Math.floor(time / 60);
            var seconds = time % 60;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            countDownEl.innerHTML = `${minutes}:${seconds}`;
            time--;
        }


    </script>
</body>
</html>
